.dropdownMenu {
  line-height: 1.7rem;
  display: none;
  position: absolute;
  min-width: 15rem;
  top: 4.5rem;
  right: 0;
  padding: 1rem 0;
  background-color: white;
  border-radius: var(--sm-radius);
  border: 1px solid var(--border-color);
  font-size: var(--sm-font-size);

  &[data-active='true'] {
    display: block;
  }
}
