.header {
  position: relative;
  display: flex;
  height: 5rem;
  background-color: var(--header-color);
  border: 1px solid var(--border-color);
}

.headerInner {
  position: relative;
  display: flex;
  align-items: center;
}
