.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: none;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}
