@import 'normalize.css';
:root,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --deep-grey: #262626;
  --body-color: #fafafa;
  --link-color-primary: #003569;
  --border-color: #dbdbdb;
  --border-light-color: #efefef;
  --border-dark-color: #cfcfcf;
  --header-color: var(--white);
  --text-light-color: #999;
  --pink: #e72d97;
  --dark-pink: #ca177d;
  --purple: #a32de7;
  --dark-purple: #8917ca;
  --blue: #3896ef;
  --user-pick-border-color: linear-gradient(var(--pink), var(--purple));
  --user-pick-border-color-hover: linear-gradient(
    var(--dark-pink),
    var(--dark-purple)
  );
  --sm-radius: 0.3rem;
}

body {
  background-color: var(--body-color);
}

*:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

img {
  margin-bottom: 2rem;
}
