.app {
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: [main] 9fr [sidebar] 3fr;
}

.sidebar {
  grid-column: sidebar;
}

.main {
  grid-column: main;
  margin-right: 2rem;
}
