.header {
  position: relative;
  display: flex;
  height: 5rem;
  background-color: var(--header-color);
  border: 1px solid var(--border-color);
}

.header-inner {
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: var(--h5);
}

.header-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-nav-link {
  display: inline-flex;
  padding: 1rem;
  color: var(--link-color-primary);
  text-decoration: none;
}
