.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: none;
  line-height: inherit;
  text-decoration: none;
  background-color: var(--btn-bg, var(--white));
  border-width: 1px;
  border-style: solid;
  border-color: var(--btn-border-color, var(--border-color));
  color: var(--btn-color, inherit);
  padding: var(--btn-padding, 0 0.5rem);
}

.btnDefault {
  border-radius: var(--sm-radius);
  --btn-border-color: red;
  --btn-color: red;
}

.btnLg {
  --btn-padding: 0.5rem 3rem;
}
