:root {
  --h1: 3.3333rem;
  --h2: 2.8333rem;
  --h3: 2.4166rem;
  --h4: 2.0833rem;
  --h5: 1.8333rem;
  --h6: 1.5833rem;
  --sm-font-size: 1.1666rem;
  --sx-font-size: 1rem;
  --font-bold: 600;
  font-size: 75%;
}

body {
  font-size: 1.333rem;
  line-height: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  color: var(--deep-grey);
}

.logo {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(----font-bold);
}

.h1 {
  font-size: var(--h1);
  line-height: 4rem;
  margin-top: 8rem;
}

.h2 {
  font-size: var(--h2);
  line-height: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.h3 {
  font-size: var(--h3);
  line-height: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.h4 {
  font-size: var(--h4);
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.h5 {
  font-size: var(--h5);
  line-height: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.h6 {
  font-size: var(--h6);
  font-size: t-step(0);
  font-style: italic;
  line-height: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.sm-font-size {
  font-size: var(--sm-font-size);
}

.xs-font-size {
  font-size: var(--xs-font-size);
}
