.userPickWrap {
  position: relative;
  display: flex;
  padding: 2px;
  margin-left: 0.5rem;
  border-radius: 2.5rem;
  background-image: var(--user-pick-border-color);
  transition: 0.3s ease;

  &:hover {
    background-image: var(--user-pick-border-color-hover);
  }
}

.userPick {
  width: 2.8rem;
  height: 2.8rem;
  margin: auto;
  border-radius: 2rem;
  border: 3px solid white;
}
