.pagination {
  margin-top: 700px;
}

.pagination__list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 0.85rem;
  /* color: rgba(0, 0, 0, 0.7); */
  color: black;
  cursor: pointer;
}

.pagination__btn:hover,
.pagination__btn:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: black;
  font-weight: bold;
  outline: none;
}

.pagination__btn[data-active='true'] {
  color: black;
  font-weight: bold;
  background-color: black;
  color: white;
}
