.rc-pagination {
  display: flex;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.rc-pagination-prev button {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rc-pagination-next button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rc-pagination-item a {
  padding: 0.5rem 0.75rem;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: flex;
}

.rc-pagination-prev button:after {
  content: '‹';
  display: block;
}

.rc-pagination-next button:after {
  content: '›';
  display: block;
}

.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: '•••';
}

.rc-pagination-prev button,
.rc-pagination-next button,
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  display: flex;
  width: 2.6rem;
  height: 2.6rem;
  align-items: center;
  justify-content: center;
}

.rc-pagination-item a,
.rc-pagination-prev button,
.rc-pagination-next button,
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  display: inline-flex;
  border: 1px solid #ddd;
}

.rc-pagination-item-active a {
  --color: #5cb85c;
  color: #fff;
  z-index: 2;
  background-color: var(--color);
  border: 1px solid var(--color);
}
