.profile-header {
  display: grid;
  grid-template-columns: [sidebar] 3fr [main] 9fr;
  padding-top: 8rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.profile-sidebar {
  grid-column: sidebar;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.profile-main {
  grid-column: main;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-title {
  font-weight: normal;
  font-size: var(--h2);
}

.profile-bio {
  font-weight: var(--font-bold);
}

.user-image {
  width: 13rem;
  height: 13rem;
  border-radius: 12rem;
  background-color: #dbdbdb;
  padding: 0.25rem;
  border: 1px solid var(--border-dark-color);
}

.settings-icon {
  margin-right: 0.5rem;
}
