.header {
  position: relative;
  display: flex;
  height: 5rem;
  background-color: var(--header-color);
  border: 1px solid var(--border-color);

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }
}
